/* Landing page content */
.landing-content {
  .login-link {
    padding: 20% 0;
    float: left;
    width: 100%;
    text-align: center;
    .login-desc {
      float: left;
      width: 100%;
      padding: 20px 0;
      text-align: center;
      color: #2ab27b;
    }
  }
}
